* {
  margin: 0;
  padding: 0;
}

.myCustomContainer {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  overflow-x: hidden;
  height: 100vh;
}
.card {
  margin-top: 2%;
  width: 30vw;
  background-color: black;
  display: none;
}
.card-header {
  font-size: 1.5em;
  color: whitesmoke;
  font-weight: bold;
}
.card-body {
  background-color: aliceblue;
}
